body{
   background: lightblue;
   display: flex;
   justify-content: center;
   height: auto;
   /* align-items: center; */
}
.accordion{
   width: 60%;
   height: 80%;
   /* background-color: #fff; */
   background: transparent;
   padding: 30px;
   margin-top: 6rem;
   border-radius: 2rem;
   box-shadow: 0 0 2rem black;
   /* border: solid black 2px; */
}
.accordion-title{
   margin-top: .5rem;
   text-decoration:underline;
   text-align: center;
   font-family: fantasy;
   font-size: 2.5rem;
}
.content-container{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.questions{
   padding: 1.1rem 0rem;
   font-size: 1.7rem;
   border-bottom: 2px solid #000;
   position: relative;
   cursor: pointer;
}
.questions::after{
   content: 'ˇ';
   position: absolute;
   right: 1px;
}
.answers{
   padding-top: 13px;
   font-size: 1.3rem;
   line-height: 1.5;
   width: 100%;
   height: 0px;
   overflow: hidden;
   transition: .5s;
}
/* javascript styling link */
.content-container.active .answers{
   height: 170px;
}
.content-container.active .questions{
   font-size: 1.3rem;
   transition: .5s;
   color: rgb(116, 112, 116);
}
.content-container.active .questions::after{
   content: 'ˆ';
   font-size: 2rem;
   /* transition: 5s; */
}